<% include("languageHelper.ejs", {selectedLang:selectedLang,fallback:fallback}); %>

<!DOCTYPE html>
<html>
<head>
    <%- include("partials/head.ejs", {}); %>
</head>
<body style="margin:0;">

    <%- include("partials/navbar.ejs", {_lang:_lang,selectedLangShortCode:selectedLangShortCode, availableLangs:availableLangs}); %>

    <%- include("partials/header.ejs", {_lang:_lang,}); %>

    <div id="loader"><i class="fa fa-spinner fa-spin"></i></div>

    <div style="display:none; background-color: #ffffff !important" id="pageContent" class="animate-bottom"></div>

    <%- include("partials/footer.ejs", {_lang:_lang,fullWhite: view!=="edituser"&&view!=="usercontrol"}); %>
    <%- include("partials/modals.ejs", {_lang:_lang,}); %>

    <script>
        var viewToLoad = "<%= view %>";
        if (viewToLoad == "edituser")
            loadEditPageSubmitListener();
    </script>

    <script src="/assets/scripts/navbar.js"></script>
    <script src="/assets/scripts/loader.js"></script>
    <script src="/assets/scripts/formSubmit.js"></script>
    <script src="/assets/scripts/authSubmit.js"></script>
    <script src="/assets/scripts/changeSubmit.js"></script>
    <script src="/assets/scripts/urlManager.js"></script>

</body>
</html>
