<center style="margin-top: 50px">
    <h1><%- _lang("overview.title"); %></h1>

    <% if (content.length > 0) { %>
    <section class="columns">

        <div class="column" style="max-height: 30vw; overflow-y: scroll">

            <% content.forEach(function(url) { %>

                <div style="text-align: left">
                    <h5><%= url.label %> | <%= url.domain %></h5>
                    <h3>
                        <%= url.target.substring(0, 34) %>...
                        <span style="padding-left: 24px">
                            <i id="showDetailedStats<%= url.label %>" class="fa fa-line-chart"></i>
                            <i id="open<%= url.label %>" class="fa fa-copy"></i>
                            <i id="delete<%= url.label %>" class="fa fa-trash"></i>
                        </span>
                    </h3>
                    <br><br>
                </div>

            <% }); %>

        </div>

        <div class="column">
            <h3><%- _lang("overview.detailedStats"); %> <b id="currentDetailedStats"></b></h3>
            <h4><%- _lang("overview.totalClicks"); %> <b id="totalClicks"></b></h4>
            <canvas id="clickChart"></canvas>
            <div style="overflow-x: scroll">
                <table>
                    <tr>
                        <td><canvas id="osChart"></canvas></td>
                        <td><canvas id="platformChart"></canvas></td>
                    </tr>
                </table>
            </div>
        </div>

    </section>

    <% } else { %>
        <h1><%- _lang("overview.noURLs"); %></h1>
    <% } %>
</center>

<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha512-F+u8eWHrfY8Xw9BLzZ8rG/0wIvs0y+JyRJrXjp3VjtFPylAEEGwKbua5Ip/oiVhaTDaDs4eU2Xtsxjs/9ag2bQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    setTimeout(() => {
        <% content.forEach(function (link) { %>
            addButtonListeners(JSON.parse(`<%- JSON.stringify(link) %>`));
        <% }) %>

        showDetailedStats(JSON.parse(`<%- JSON.stringify(content) %>`)[0]);
    }, 450);

</script>

<script src="/assets/scripts/urlManager.js"></script>
