<% include("../languageHelper.ejs", {selectedLang:selectedLang,fallback:fallback}); %>

<!DOCTYPE html>
<html>
<head>
    <%- include("../partials/head.ejs", {}); %>
</head>
<body style="margin:0" class="passwordCheck">

<div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form method="post">
            <div class="modal-content">
                <div class="modal-body">
                    <h2><%- _lang("passwordCheck.headline"); %></h2>
                        <%- _lang("passwordCheck.subline"); %>
                    <br>

                        <div id="longUrlField" class="form__group field">
                            <input type="password" class="form__field" placeholder="<%- _lang("passwordCheck.field"); %>" name="password" required="">
                            <label for="name" class="form__label"><%- _lang("passwordCheck.field"); %></label>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="submit" class="button btn-success"><%- _lang("passwordCheck.button"); %></button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>
