<center style="margin-top: 50px">
    <h1><%- _lang("overview.title"); %></h1>

    <% if (content.length > 0) { %>
    <section class="columns">

        <div class="column" style="max-height: 30vw; overflow-y: scroll">

            <% content.forEach(function(url) { %>

                <div>
                    <h5><%= url.longUrl %></h5>
                    <h3 id="shortLink<%= url.shortUrl %>"><%= url.shortUrl %></h3>
                    <button id="showDetailedStats<%= url.shortUrl %>"><%- _lang("overview.buttons.stats"); %></button><br><br>
                    <table>
                        <tr>
                            <td><button id="open<%= url.shortUrl %>"><%- _lang("overview.buttons.open"); %></button></td>
                            <td><button id="delete<%= url.shortUrl %>"><%- _lang("overview.buttons.delete"); %></button></td>
                        </tr>
                    </table>
                    <br><br>
                </div>

            <% }); %>

        </div>

        <div class="column">
            <h3><%- _lang("overview.detailedStats"); %> <b id="currentDetailedStats"></b></h3>
            <h4><%- _lang("overview.totalClicks"); %> <b id="totalClicks"></b></h4>
            <canvas id="chart"></canvas>
        </div>

    </section>

    <% } else { %>
        <h1><%- _lang("overview.noURLs"); %></h1>
    <% } %>
</center>

<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha512-F+u8eWHrfY8Xw9BLzZ8rG/0wIvs0y+JyRJrXjp3VjtFPylAEEGwKbua5Ip/oiVhaTDaDs4eU2Xtsxjs/9ag2bQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    setTimeout(() => {
        <% content.forEach(function (content) { %>
            addButtonListeners(JSON.parse(`<%- JSON.stringify(content) %>`));
        <% }) %>

        showDetailedStats(JSON.parse(`<%- JSON.stringify(content) %>`)[0]);
    }, 450);

</script>