
<div class="modal fade" id="modelLoginForm" tabindex="-1" role="dialog" aria-labelledby="loginModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="javascript:void('')" id="login">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">
                        <%- _lang("modals.login.title"); %>
                        <br>
                        <span id="login_message" style="color:red"></span>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <input type="text" name="name" id="login_name" class="form-control validate" required>
                        <label data-error="wrong" data-success="right" for="login_name"><%- _lang("modals.login.name"); %></label>
                    </div>

                    <div class="md-form mb-4">
                        <input type="password" name="password" id="login_pw" class="form-control validate" required>
                        <label data-error="wrong" data-success="right" for="login_pw"><%- _lang("modals.login.password"); %> <a class="higlighted-a" data-dismiss="modal" data-toggle="modal" data-target="#modalRecoveryForm"> <%- _lang("modals.login.passwordLost"); %></a></label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" name="submit" class="button btn-success" value="<%- _lang("modals.login.button"); %>"><%- _lang("modals.login.button");%></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="registerModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="get" action="javascript:void('')" id="register">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">
                        <%- _lang("modals.register.title"); %>
                        <br>
                        <span id="register_message" style="color:red"></span>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <input type="email" name="mail" id="register_mail" class="form-control validate" required>
                        <label data-error="wrong" data-success="right" for="register_mail"><%- _lang("modals.register.email"); %></label>
                    </div>

                    <div class="md-form mb-5">
                        <input type="text" name="name" id="register_name" class="form-control validate" required>
                        <label data-error="wrong" data-success="right" for="register_name"><%- _lang("modals.register.name"); %></label>
                    </div>

                    <div class="md-form mb-4">
                        <input type="password" name="password" id="register_pw" class="form-control validate" required>
                        <label data-error="wrong" data-success="right" for="register_pw"><%- _lang("modals.register.password"); %></label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" name="submit" class="button btn-success" value="<%- _lang("modals.register.button"); %>"><%- _lang("modals.register.button"); %></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalRecoveryForm" tabindex="-1" role="dialog" aria-labelledby="registerModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="get" action="javascript:void('')" id="recovery">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">
                        <%- _lang("modals.passwordRecovery.title"); %>
                        <br>
                        <span id="recovery_message" style="color:red"></span>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <input type="text" name="name" id="recovery_mail" class="form-control validate" required>
                        <label data-error="wrong" data-success="right" for="recovery_mail"><%- _lang("modals.passwordRecovery.username"); %></label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" name="submit" class="button btn-success" value="Absenden"><%- _lang("modals.passwordRecovery.button"); %></button>
                </div>
            </div>
        </form>
    </div>
</div>