<nav id="navHome" class="navHome navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container-fluid max-width-940">
        <a class="navbar-brand" href="index" class="foreColorNavbar" style="color: white;"> <%- _lang("navbar.brand"); %> </a>
        <button class="navbar-toggler togglerNoBorder" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse backgroundWhite" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" onclick="loadView('start', '/')" class="foreColorNavbar" style="color: white;"><%- _lang("navbar.home"); %> </a>
                </li>

                <% if (isLoggedIn) { %>

                    <li class="nav-item dropdown navDropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="foreColorNavbar" style="color: white;">
                            <%- _lang("navbar.account.account"); %>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navDropdown" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" onclick="loadView('usercontrol', '/user/usercontrol')"  id="shorturls"><%- _lang("navbar.account.shortenurls"); %></a>
                            <a class="dropdown-item" onclick="loadView('edituser', '/user/edituser')" id="edit_user"><%- _lang("navbar.account.edituser"); %></a>
                            <a class="dropdown-item" id="logout"><%- _lang("navbar.account.logout"); %></a>
                        </div>
                    </li>

                <% } else { %>

                <li class="nav-item dropdown navDropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="foreColorNavbar" style="color: white;">
                        <%- _lang("navbar.account.account"); %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navDropdown" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" data-toggle="modal" data-target="#modelLoginForm"><%- _lang("navbar.account.login"); %></a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#modalRegisterForm"><%- _lang("navbar.account.register"); %></a>
                    </div>
                </li>

                <% } %>

                <li class="nav-item">
                    <a class="nav-link" onclick="loadView('stats', '/stats')" class="foreColorNavbar" style="color: white;"><%- _lang("navbar.statistics"); %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/CraftException/lnkdto.link/" class="foreColorNavbar" style="color: white;"><%- _lang("navbar.github"); %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://jusoft.dev" class="foreColorNavbar" style="color: white;"><%- _lang("navbar.jusoft"); %></a>
                </li>

                <li class="nav-item dropdown navDropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="foreColorNavbar" style="color: white;">
                        <%= selectedLangShortCode %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navDropdown" aria-labelledby="navbarDropdownMenuLink">
                        <% availableLangs.forEach(function (lang) { %>
                            <a onclick="document.location.href='/api/lang?lang=<%= lang.code %>&source=' + document.location.href" class="dropdown-item" id="lang_en"><%= lang.names.long %></a>
                        <% }) %>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>